<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title layout:title-pattern="$LAYOUT_TITLE - SSR Application">SSR Application</title>
        <link rel="stylesheet" th:href="@{/styles.css}">
    </head>
    <body>
        <div th:replace="~{fragments/header :: header}"></div>

        <main layout:fragment="content">
            <p>Main layout content</p>
        </main>

        <div th:replace="~{fragments/footer :: footer}"></div>
    </body>
</html>
