<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title layout:title-pattern="$LAYOUT_TITLE - SSR Application">SSR Application</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/styles.css}">
    </head>
    <body>
		<div id="toast" class="toast"
            th:classappend="${successMessage} ? ' toast-success show' : ''"
            th:if="${successMessage}"
            th:text="${successMessage}"
        ></div>

        <div id="toast-error" class="toast"
            th:classappend="${errorMessage} ? ' toast-error show' : ''"
            th:if="${errorMessage}"
            th:text="${errorMessage}"
        ></div>

        <div id="toast-warning" class="toast"
            th:classappend="${warningMessage} ? ' toast-warning show' : ''"
            th:if="${warningMessage}"
            th:text="${warningMessage}"
        ></div>

        <div id="toast-info" class="toast"
            th:classappend="${infoMessage} ? ' toast-info show' : ''"
            th:if="${infoMessage}"
            th:text="${infoMessage}"
        ></div>

        <div th:replace="~{fragments/header :: header}"></div>

        <main layout:fragment="content">
            <p>Main layout content</p>
        </main>

        <div th:replace="~{fragments/footer :: footer}"></div>
		<script>
            document.addEventListener('DOMContentLoaded', function() {
                const toastIds = [
                    'toast-success',
                    'toast-error',
                    'toast-warning',
                    'toast-info'
                ];

                toastIds.forEach(id => {
                    if (toast) {
                        toast.classList.add('show');
                        setTimeout(() => toast.classList.remove('show'), 3000);
                    }
                });
            });
		</script>
    </body>
</html>
