<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base}">
    <head>
        <title>Edit Product</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="card">
                <h1>Edit Product</h1>
                <form th:action="@{|/products/${product.id}/edit|}" th:object="${product}" method="post">
                    <div>
                        <label for="name">Name:</label>
                        <input id="name" type="text" th:field="*{name}" required />
                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    </div>
                    <div>
                        <label for="price">Price:</label>
                        <input id="price" type="number" step="0.01" th:field="*{price}" required />
                        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                    </div>
                    <div>
                        <button type="submit" class="button">Update</button>
                        <a th:href="@{/products}" class="button">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>