<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
	<head>
		<title>Product List</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="card">
				<h1>Product List</h1>

				<a th:href="@{/products/new}" class="button mb-2">Add New Product</a>

				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Price</th>
							<th class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="product : ${products}">
							<td>
								<a th:href="@{|/products/${product.id}|}"
									th:text="${product.name}">Product Name</a>
							</td>
							<td th:text="${product.price}">0.0</td>
							<td class="actions text-float-right">
								<a th:href="@{|/products/${product.id}/edit|}" class="button">Edit</a>
								|
								<form th:action="@{|/products/${product.id}/delete|}"
									method="post" style="display: inline;">
									<button type="submit" class="button delete">Delete</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
