<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base}">
    <div layout:fragment="content">
        <div class="card">
            <h1 th:text="${product.name}">Product Details</h1>
            <p><strong>Name:</strong> <span th:text="${product.name}"></span></p>
            <p><strong>Price:</strong> <span th:text="${product.price}"></span></p>
            <a th:href="@{/products}" class="button">Back to Products</a>
        </div>
    </div>
</html>
