<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base}">
    <head>
        <title>About this Application</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="card">
                <h1>About this Application</h1>
                <p>This is a server-side rendered (SSR) web application built using Spring Boot and Thymeleaf</p>
                <p>It demonstrates layout templates, routing, fragments and H2 database support.</p>
            </div>
        </div>
    </body>
</html>
