<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base}">
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="card">
                <h1>SSR Thymeleaf Spring Application</h1>
                <p>This is a server-side rendered web application built with Spring Boot and Thymeleaf.</p>
                <p>Use the navigation bar to browse products or llearn more about the application.</p>
                <a th:href="@{/products}" class="button mt-2">View Products</a>
            </div>
        </div>        
    </body>
</html>
